<h3>プロフィールページ</h3>
<p>ユーザー名</p>
<%= @user.user_name %>
<p>レベル:<%= @user.level %> 経験値:<%= @user.exp %></p>
<p>自己紹介文</p>
<%= @user.introduction %>
<p>プロフィール画像</p>
<img src="<%= "/user_images/#{@user.image_name}" %>"  style="width:25%;">
<%= form_tag("/main/edit",{method: :get}) do %>
  <p>プロフィールの編集</p>
  <input type="submit" value="編集">
<% end %>
