<p>ランキングページ</p>
<table>
  <tr>
    <th>順位</th>
    <th>ユーザー名</th>
    <th>画像</th>
    <th>レベル</th>
    <th>経験値</th>
  </tr>
  <!-- レベルの高い順にソートする-->
  <% ranking = 1 %>
  <% @users.each do |user| %>
    <tr>
      <td><%= ranking %></td>
      <td><%= user.user_name %></td>
      <td><img src='<%= "/user_images/#{user.image_name}" %>' style="width:15%;"></td>
      <td><%= user.level %></td>
      <td><%= user.exp %></td>
    </tr>
    <% ranking += 1 %>
  <% end %>
</table>