<p>食品の更新ページ</p>
<%= form_tag("/food/#{@food.id}/update",{method: :post}) do %>
  <p>食べ物の総量:</p><%= @food.amount %><%= @food.amounttype %>
  <p>残り量</p><%= @food.yetamount %>％
  <p>どれだけ消費したか</p>
  <input name="used">％
  <input type="submit" value="更新">
<% end %>
<%= form_tag("/food/#{@food.id}/destroy",{method: :post}) do %>
  <p>食べ物の情報を削除</p>
  <input type="submit" value="削除">
<% end %>
