<header>
  <p class="main-title">食品の更新ページ</p>
</header>
<div class="main">
  <div class="row">

    <div class="profile left">
      <div>
        <%= form_for(@food, :url => {:action => :update, :controller => :food}) do |f| %>
          <p>食べ物の総量:</p><%= @food.amount %><%= @food.amounttype %>
          <p>残り量</p><%= @food.yetamount %>％
          <p>どれだけ消費したか</p>
          <%= f.text_field :yetamount %>
          <%= f.submit :value => "更新", :class => "btn waves-effect waves-light left" %>
        <% end %>
      </div>
    </div>

    <div class="profile right">
      <%= form_for(@food, :url => {:action => :editinfo, :controller => :food}) do |f| %>
        <p>その他の情報の更新</p>
        <%= f.submit value = "更新", :class => "btn waves-effect waves-light left" %>
      <% end %>
    </div>
  </div>
</div>