<p>メインページ</p>
<h3>ピックアップ情報</h3>
<p>賞味期限が迫っているもの</p>
<table class="main">
  <tr>
    <th>名前</th>
    <th>画像</th>
    <th>期限</th>
    <th>総量</th>
    <th>残り量</th>
    <th>詳細</th>
  </tr>

  <% @oldfoods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td>
        <% if food.image_name == "https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" %>
          <img src="https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" style="width:15%;">
        <% else %>
          <img src='<%= "/food#{session[:user_id]}_images/#{food.image_name}" %>' style="width:15%;">
        <% end %></td>
      <td><%= food.limitday %></td>
      <td><%= food.amount %><%= food.amounttype %></td>
      <td><%= food.yetamount %></td>
      <td><%= link_to("/food/#{food.id}/show") do %>
          詳細
        <% end %></td>
    </tr>
  <% end %>
</table>


<p>消費期限の食べ物</p>
<table>
  <tr>
    <th>名前</th>
    <th>画像</th>
    <th>期限</th>
    <th>総量</th>
    <th>残り量</th>
    <th>詳細</th>
  </tr>

  <% @Fleshfoods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td>
        <% if food.image_name == "https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" %>
          <img src="https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" style="width:15%;">
        <% else %>
          <img src='<%= "/food#{session[:user_id]}_images/#{food.image_name}" %>' style="width:15%;">
        <% end %></td>
      <td><%= food.limitday %></td>
      <td><%= food.amount %><%= food.amounttype %></td>
      <td><%= food.yetamount %></td>
      <td><%= link_to("詳細", "/food/#{food.id}/show") %></td>
    </tr>
  <% end %>
</table>

<h3>食品の種類について</h3>
<p>現在の種類一覧</p>
<% n = 1 %>
<% @modes.each do |mode| %>
  <%= n %>:<%= mode.detail %>
  <% n += 1 %>
<% end %>
<%= link_to("/food/makemode") do %>
  <input type="submit" value="編集">
<% end %>

<p>メモ</p>
未実装
・Twitterとの連動
・グーグルカレンダーとの連動
・スマホアプリ化
・Webスクレイピングして料理の情報を関連付けて表示

・jQueryの再実装（現在挙動不審なため要点検)（sassの導入により見送りの可能性あり）
・CSSの編集
・入力漏れがあった場合のエラーの告知
・食品のソート機能

実装中

・食べ物の新規登録の時、食べ物の種類の登録
・食べ物の種類関係
