<p>メインページ</p>
<h3>ピックアップ情報</h3>
<p>賞味期限が迫っているもの</p>
<% @oldfoods.each do |food| %>
  <%= food.name %>
  <%= food.limitMonth %>月<%= food.limitDay %>日まで
<% end %>
<p>消費期限の食べ物</p>
<% @Fleshfoods.each do |food| %>
  <%= food.name %>
  <%= food.limitMonth %>月<%= food.limitDay %>日まで
<% end %>

<p>メモ</p>
未実装
・Twitterとの連動
・グーグルカレンダーとの連動
・スマホアプリ化
・Webスクレイピングして料理の情報を関連付けて表示

・食べ物の種類の編集ページ
・食べ物の情報の更新ページで残り量以外の情報を更新するページ
・jQueryの再実装（現在挙動不審なため要点検)
・CSSの編集
・レベルの高さを用いてランキングページのソート
・不正アクセスの制限
・パスワードを暗号化して保存

実装中
・食べ物の画像の登録
・食べ物の新規登録の時、食べ物の種類の登録
・食べ物を新規登録するときに画像がない場合Webページからデフォルトの画像を用意する

