<h3 style="text-align: center">ピックアップ情報</h3>
<div class="main">
  <div class="row">
    <h5 style="text-align: center">賞味期限が迫っているもの</h5>
    <table class="centered">
      <tr>
        <th>名前</th>
        <th>画像</th>
        <th>期限</th>
        <th>総量</th>
        <th>残り量</th>
        <th>詳細</th>
      </tr>

      <% @oldfoods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td>
            <% if food.image_name == "https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" %>
              <img src="https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" style="width:15%;">
            <% else %>
              <img src='<%= "/food#{session[:user_id]}_images/#{food.image_name}" %>' style="width:15%;">
            <% end %></td>
          <td><%= food.limitday %></td>
          <td><%= food.amount %><%= food.amounttype %></td>
          <td><%= food.yetamount %></td>
          <td><%= link_to("/food/#{food.id}/show") do %>
              詳細
            <% end %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="main">
  <div class="row">
    <h5 style="text-align: center">消費期限の食べ物</h5>
    <table class="centered">
      <tr>
        <th>名前</th>
        <th>画像</th>
        <th>期限</th>
        <th>総量</th>
        <th>残り量</th>
        <th>詳細</th>
      </tr>

      <% @Fleshfoods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td>
            <% if food.image_name == "https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" %>
              <img src="https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" style="width:15%;">
            <% else %>
              <img src='<%= "/food#{session[:user_id]}_images/#{food.image_name}" %>' style="width:15%;">
            <% end %></td>
          <td><%= food.limitday %></td>
          <td><%= food.amount %><%= food.amounttype %></td>
          <td><%= food.yetamount %></td>
          <td><%= link_to("詳細", "/food/#{food.id}/show") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="main">
  <div class="row">
    <h3 style="text-align: center">食品の種類について</h3>
    <h5 style="text-align: center">現在の種類一覧</h5>
    <table class="centered">
      <tr>
        <th>番号</th>
        <th>種類名</th>
      </tr>
      <% n = 1 %>
      <% @modes.each do |mode| %>
        <tr>
          <td><%= n %></td>
          <td><%= mode.detail %></td>
        </tr>
        <% n += 1 %>
      <% end %>
    </table>
    <%= link_to("/food/makemode") do %>
      <input type="submit" value="編集" class="btn waves-effect waves-light left">
    <% end %>
  </div>
</div>


