<p>食べ物の新規登録</p>
<% @food = Food.new %>
<%= form_for(@food, :url => {:action => :create, :controller => :food}) do |f| %>

  <%= f.label :食べ物の名前 %>
  <%= f.text_field :name %>
  <p>食べ物の種類</p>
  <!-- 要修正。種類はラジオボタンではなく複数選択を可能にする -->
  <% @modes.each do |mode| %>
  <% end %>
  <!-- 賞味期限か消費期限かの選択 -->
  <%= f.label :賞味期限 %>
  <%= f.radio_button :limittype, "true" %>
  <%= f.label :消費期限 %>
  <%= f.radio_button :limittype, "false" %>

  <%= f.text_field :limitYear %>年<%= f.text_field :limitMonth%>月<%= f.text_field :limitDay%>日まで
  <!-- 加工食品か生鮮食品かの選択 -->

  <%= f.label :加工食品 %>
  <%= f.radio_button :foodtype, "true" %>
  <%= f.label :生鮮食品 %>
  <%= f.radio_button :foodtype, "false" %>



  <%= f.label :食べ物の量 %>
  <%= f.text_field :amount %>
  <p>単位</p>
  <!-- 単位の選択 -->
  <%= f.label :g %>
  <%= f.radio_button :amounttype, "0" %>
  <%= f.label :mL %>
  <%= f.radio_button :amounttype, "1" %>
  <%= f.label :人前 %>
  <%= f.radio_button :amounttype, "2" %>
  <%= f.label :個・本など %>
  <%= f.radio_button :amounttype, "3" %>


  <%= f.label :食べ物の画像 %>
  <%= f.file_field :image_name %>

  <!-- 登録ボタン -->
  <%= f.submit %>
<% end %>
