<h3>ログインページ</h3>
  <%= form_for(@user,:url => {:action => :login, :controller => :user}) do |f| %>
  <%= f.label :ユーザー名 %>
  <%= f.text_field :user_name %>
  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  <%= f.submit  value = "ログイン" %>
<% end %>





<!-- デバック -->
<% @users.each do |user| %>
  <p>名前</p>
  <%= user.user_name %>
  <p>パスワード</p>
  <%= user.password %>
  <p>画像</p>
  <img src="<%= "/user_images/#{user.image_name}" %>" style="width:10%;">
<% end %>