<div class="row">
  <h4 class="teal-text darken-2" style="margin-left: 2%;">ログイン</h4>
  <%= form_for(@user, :url => {:action => :login, :controller => :user}) do |f| %>
    <div class="col s12">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :ユーザー名 %>
        <%= f.text_field :user_name %>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">enhanced_encryption</i>
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
      </div>
      <div style="margin: 7% 0%  0% 47%;">
        <%= f.submit :class => "btn waves-effect waves-light left login", :value => "ログイン" %>
      </div>
  <% end %>
  </div>
</div>
