
<div class="row">
  <h4 class="teal-text darken-2">login</h4>
<%= form_for(@user, :url => {:action => :login, :controller => :user}) do |f| %>
    <div class="col s12">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :ユーザー名 %>
        <%= f.text_field :user_name %>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">enhanced_encryption</i>
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
      </div>
      <%= f.submit :class => "btn waves-effect waves-light left login", :value => "ログイン" %>
<% end %>





<!-- デバック -->
<% @users.each do |user| %>
  <p>名前</p>
  <%= user.user_name %>
  <p>パスワード</p>
  <%= user.password %>
  <p>画像</p>
  <img src="<%= "/user_images/#{user.image_name}" %>" style="width:10%;">
<% end %>