<p>検索結果</p>
<div class="main">
  <div class="row color">
    <h4>検索結果一覧</h4>
    <table>
      <tr class="index">
        <th>名前</th>
        <th>画像</th>
        <th>種類</th>
        <th>加工食品か生鮮食品</th>
        <th>賞味期限か消費期限</th>
        <th>期限日</th>
        <th>総量</th>
        <th>残り量</th>
        <th>詳細</th>
      </tr>

      <% @foods.each do |food| %>
        <tr class="index">
          <td><%= food.name %></td>
          <td>
            <% if food.image_name == "https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" %>
              <img class="responsive-img" src="https://uds.gnst.jp/rest/img/1ew287ve0000/s_006z.jpg?t=1506082927" style="width: 100%">
            <% else %>
              <img src='<%= "/food#{session[:user_id]}_images/#{food.image_name}" %>'>
            <% end %></td>
          <td>
            <% conect_food_to_modes = ConectFoodToMode.where(user_id: session[:user_id],
                                                             food_id: food.id) %>
            <% conect_food_to_modes.each do |conect_food_to_mode| %>

              <% @mode = Mode.find_by(id: conect_food_to_mode.mode_id) %>
              <%= @mode.detail %>
            <% end %></td>
          <td><%= food.foodtype %></td>
          <td><%= food.limittype %></td>
          <td><%= food.limitday %></td>
          <td><%= food.amount %><%= food.amounttype %></td>
          <td><%= food.yetamount %>％</td>
          <td><%= link_to("/food/#{food.id}/show") do %>
              <i class="material-icons">search</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>