<!DOCTYPE html>
<html>
<head>
  <title>冷蔵情報庫</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!--Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- materialize icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script>document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function () {
      $('select').formSelect();
  });
  </script>
</head>


<nav>
  <div class="nav-wrapper">
    <!-- headerの左側 -->
    <div class="header_left">
      <div class="header_link brand-logo">
        <%= form_for(@food, :url => {:action => :top, :controller => :home}, :method => "get") do |f| %>
          <%= f.submit :value => "冷蔵情報庫", :class => "btn" %>
        <% end %>
      </div>
    </div>
    <% if !(session[:user_id]) %>
      <!-- ログインしていない時-->


      <!-- headerの右側-->
      <ul id="nav-mobile" class="header_right right hide-on-med-and-down">
        <li class="header_link">
          <%= link_to("/home/new") do %>
            <div class="header_new btn">
              新規登録
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/home/login") do %>
            <div class="header_login btn">
              ログイン
            </div>
          <% end %>
        </li>
      </ul>
    <% else %>
      <!-- ログインしている時 -->
      <ul id="nav-mobile" class="header_right right hide-on-med-and-down">
        <li class="header_link">
          <%= link_to("/food/main") do %>
            <div class="btn">
              メインページ
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= form_for(@food, :url => {:action => :new, :controller => :food}, :method => "get") do |f| %>
            <%= f.submit :value => "食品登録", :class => "btn" %>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/food/index") do %>
            <div class="btn">
              食品一覧
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/main/ranking") do %>
            <div class="btn">
              ランキング
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/main/profile") do %>
            <div class="btn">
              プロフィール
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/main/setting") do %>
            <div class="btn">
              設定
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/user/logout", {method: :post}) do %>
            <div class="btn small">
              ログアウト
            </div>
          <% end %>
        </li>
      </ul>

      <!-- current_user -->
      <div class="user_data center">
        <% user = User.find_by(id: session[:user_id]) %>
        レベル<%= user.level %>:現在の経験値<%= user.exp %>
      </div>

    <% end %>

    <!-- ログインに成功したかなどの告知 -->


  </div>
</nav>
<body>
<div class="flash">
  <% if flash[:notice] %>
    <div class="succsess">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:notice_fail] %>
    <div class="failed">
      <%= flash[:notice_fail] %>
    </div>
  <% end %>
</div>
<%= yield %>

</body>
</html>
