<!DOCTYPE html>
<html>
  <head>
    <title>Informationization</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <div id="header_right">
              <div class="link">
                  <%= link_to("冷蔵庫の情報化" "/") %>
              </div>
              <div class="lit">
                  <p>開発状況</p>
              </div>



          </div>
      </header>
    <%= yield %>
  </body>
</html>
