<!DOCTYPE html>
<html>
<head>
  <title>Informationization</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<header>
  <% if !(session[:user_id]) %>
    <!-- ログインしていない時-->
    <!-- headerの左側 -->
    <div class="header_left">
      <div class="header_link">
        <%= link_to("/home/top") do %>
          <div class="header_toplink">
            冷蔵庫の情報化とは
          </div>
        <% end %>
      </div>
    </div>

    <!-- headerの右側-->
    <div class="header_right">
      <div class="header_link">
        <%= link_to("/home/new") do %>
          <div class="header_new">
            新規登録
          </div>
        <% end %>
      </div>
      <div class="header_link">
        <%= link_to("/home/login") do %>
          <div class="header_login">
            ログイン
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <!-- ログインしている時 -->
    <div class="header_left">
      <div class="header_link">
        <%= link_to("/food/main") do %>
        <div class="header_main">
          メインページ
        </div>
          <% end %>
      </div>
      <div class="header_link">
        <%= link_to("/food/new") do %>
          <div class="header_foodNew">
            食品登録
          </div>
          <% end %>
      </div>
      <div class="header_link">
        <%= link_to("/food/index") do %>
          <div class="header_index">
            食品一覧
          </div>
        <% end %>
      </div>
    </div>
    <div class="header_right">
      <div class="header_link">
        <%= link_to("/user/logout",{method: :post}) do %>
          <div class="header_logout">
            ログアウト
          </div>
        <% end %>
      </div>
      <div class="header_link">
        <%= link_to("/main/setting") do %>
        <div class="setting">
          設定
        </div>
          <% end %>
      </div>
      <div class="header_link">
        <%= link_to("/main/profile") do %>
          <div class="profile">
            プロフィール
          </div>
        <% end %>
      </div>
    </div>
    ログイン厨
  <% end %>

  <!-- ログインに成功したかなどの告知 -->
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% elsif flash[:notice_fail] %>
    <%= flash[:notice_fail] %>
  <% end %>

  <!-- current_user -->
  <% user = User.find_by(id: session[:user_id]) %>
  <p>ユーザーのID：<%= user.id %>レベル<%= user.level %>現在の経験値<%= user.exp %></p>

</header>
<%= yield %>
</body>
</html>
