<!DOCTYPE html>
<html>
<head>
  <title>Informationization</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- materialize icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
  <div class="nav-wrapper">
    <!-- headerの左側 -->
    <div class="header_left">
      <div class="header_link">
        <%= link_to("/home/top") do %>
          <div class="brand-logo">
            冷蔵情報庫
          </div>
        <% end %>
      </div>
    </div>
    <% if !(session[:user_id]) %>
      <!-- ログインしていない時-->


      <!-- headerの右側-->
      <ul id="nav-mobile" class="header_right right hide-on-med-and-down">
        <li class="header_link">
          <%= link_to("/home/new") do %>
            <div class="header_new">
              新規登録
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/home/login") do %>
            <div class="header_login">
              ログイン
            </div>
          <% end %>
        </li>
      </ul>
    <% else %>
      <!-- ログインしている時 -->
      <ul id="nav-mobile" class="header_right right hide-on-med-and-down">
        <li class="header_link">
          <%= link_to("/food/main") do %>
            <div class="header_main">
              メインページ
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/food/new") do %>
            <div class="header_foodNew">
              食品登録
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/food/index") do %>
            <div class="header_index">
              食品一覧
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/main/ranking") do %>
            <div class="header_ranking">
              ランキング
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/main/profile") do %>
            <div class="profile">
              プロフィール
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/main/setting") do %>
            <div class="setting">
              設定
            </div>
          <% end %>
        </li>
        <li class="header_link">
          <%= link_to("/user/logout", {method: :post}) do %>
            <div class="header_logout">
              ログアウト
            </div>
          <% end %>
        </li>
      </ul>

      <!-- current_user -->
      <div class="user_data center">
        <% user = User.find_by(id: session[:user_id]) %>
        レベル<%= user.level %>:現在の経験値<%= user.exp %>
      </div>

    <% end %>

    <!-- ログインに成功したかなどの告知 -->


  </div>
</nav>
<div class="flash">
  <% if flash[:notice] %>
    <div class="succsess">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:notice_fail] %>
    <div class="failed">
      <%= flash[:notice_fail] %>
    </div>
  <% end %>
</div>
<%= yield %>
</body>
</html>
